@keyframes drawCheck {
	0% {
	  stroke-dashoffset: 44;
	}
	100% {
	  stroke-dashoffset: 0;
	}
  }
  a{
    text-decoration: none;
    color: black;
  }
  
  body {
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
  }
  
  .container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
  }
  
  .confirmation {
	text-align: center;
	background-color: #fff;
	padding: 30px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .icon-container {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
  }
  
  .checkmark {
	width: 52px;
	height: 52px;
  }
  
  .checkmark-circle {
	stroke: #73AF55;
	stroke-width: 2;
	fill: none;
  }
  
  .checkmark-check {
	stroke: #73AF55;
	stroke-width: 2;
	stroke-linecap: round;
	fill: none;
	stroke-dasharray: 44;
	stroke-dashoffset: 44;
	animation: drawCheck 0.5s ease-in-out forwards;
  }